.MobileNavigation {
  display: none;
}

@media (max-width: 990px) {
  .Navigation {
    display: none;
  }
  .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .MobileNavigation .Hamburger {
    position: absolute;
    right: 1%;
    cursor: pointer;
  }

  .flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: #f1f1f1;
    border-top: #353535;
  }

  .li {
    padding-left: 15%;
  }
}
