.container{
  h1 {
    margin-top: 10vh;
    font-size: 3rem;
    line-height: 20px;
    @include media(">=tablet", "<desktop") {
      text-align: center;
    }
  }
  .about-section {
    width: 80vw;
    margin-top: 2vh;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    .content {
      width: 50%;
      @include media(">=phone", "<lgphone") {
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        width: 100%;
      }
  
  
      p {
        margin-top: 1vh;
        font-size: 1.5rem;
        @include media(">=phone", "<lgphone") {
          font-size: 0.8rem;
          text-align: center;     
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 1rem;
          text-align: center;
        }
        @include media(">=tablet", "<desktop") {
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  
    .img-fluid {
      width: 50%;
      align-items: right;
      justify-content: center;
      overflow: hidden;

      margin-bottom: 1rem;
      object-fit: scale-down;
      @include media(">=phone", "<lgphone") {
        width: 100%;       
      }
      @include media(">=lgphone", "<tablet") {
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        width: 100%;
      }
    }
  }
  
}
