.header-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 10vh;
    line-height: 70px;
    font-size: 70px;
    text-align: center;
    @include media(">=phone", "<lgphone") {
      font-size: 36px;
      line-height: 36px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 42px;
      line-height: 42px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 50px;
      line-height: 50px;
    }
  }
  .heading-wrapper {
    h1 {
      margin-bottom: 4vh;
      font-size: 40px;
      text-align: center;
      line-height: 40px;
      @include media(">=phone", "<lgphone") {
        font-size: 20px;
        line-height: 20px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 24px;
        line-height: 24px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  p {
    width: 60%;
    text-align: center;
    overflow: visible;
    line-height: 20px;
    font-size: 20px;
    margin-top: 3vh;
    @include media(">=phone", "<lgphone") {
      font-size: 12px;
      line-height: 16px;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
      line-height: 16px;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 16px;
      width: 100%;
    }
  }
}
