.navbar-wrapper {
  width: 90vw;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  .name {
    font-weight: 600;
  }
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 20px;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      color: black;
    }
  }
}
